/*body 
{
    margin:0;
}*/

#slider {
    position:relative;
    width:500px;
    height:500px;
    background-color:#4800ff
  
}
#left-arrow {
    position:absolute;
    left:30px;
    font-size:22px;
}
#right-arrow {
    position:absolute;
    right:30px;
    font-size:22px;
}
.slide {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #b200ff;
    border-color: orange;
    border-radius: 3px 4px;
}
.slider_div {
    width:50%;
    height:65%;
    background-color:#00ff21;
}
.slider_item 
{
    font-size:50px;
    border-color:orange !important;
    border-width:40px;
}